.zoomBox {
  position: absolute;
  right: 0px;
  bottom: 150px;
  z-index: 2;
}

.zoomBtn {
  width: 36px;
  height: 36px;
  margin-bottom: 10px;
  line-height: 44px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  &:hover {
    cursor: pointer;
  }
}
